In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast

import emoji

In [21]:
from main_fu import clean_taxonomy, cols, russian_stopwords, process_comment

In [22]:
df = pd.read_csv('data.csv')

In [23]:
df.shape

(2366, 14)

In [24]:
df.head()

,annotation_id,annotator,comment,created_at,id,lead_time,rating,taxonomy,updated_at,Вопрос решен,Нравится качество выполнения заявки,Нравится качество работы сотрудников,Нравится скорость отработки заявок,Понравилось выполнение заявки
0,2374,1,спасибо,2025-05-17T09:23:28.536565Z,2945792,18.878,5,"[{""taxonomy"":[[""Вопрос решен""],[""Понравилось в...",2025-05-17T09:23:28.536565Z,NaN,NaN,NaN,NaN,NaN
1,2375,1,спасибо!,2025-05-17T09:23:38.456762Z,3234340,7.941,5,"[{""taxonomy"":[[""Вопрос решен""],[""Понравилось в...",2025-05-17T09:23:38.456762Z,NaN,NaN,NaN,NaN,NaN
2,2376,1,Отлично,2025-05-17T09:24:11.486229Z,3380332,31.554,5,"[{""taxonomy"":[[""Вопрос решен""],[""Понравилось в...",2025-05-17T09:24:11.486229Z,NaN,NaN,NaN,NaN,NaN
3,2377,1,Благодарю за оперативное решение проблемы !,2025-05-17T09:24:29.076846Z,3381812,15.591,5,"[{""taxonomy"":[[""Вопрос решен""],[""Понравилось в...",2025-05-17T09:24:29.076846Z,NaN,NaN,NaN,NaN,NaN
4,2378,1,Прекрасный специалист! Побольше таких,2025-05-17T09:24:42.946396Z,3461991,12.202,5,"[{""taxonomy"":[[""Нравится качество работы сотру...",2025-05-17T09:24:42.946396Z,NaN,NaN,NaN,NaN,NaN

In [25]:
df.dropna(axis=1, how='all', inplace=True)

In [26]:
df.isna().sum()

annotation_id    0
annotator        0
comment          0
created_at       0
id               0
lead_time        0
rating           0
taxonomy         1
updated_at       0
dtype: int64

In [27]:
# Удаляем строки с некоректными коментарии
df.dropna(subset=['taxonomy'], inplace=True)

In [28]:
df.isna().sum()

annotation_id    0
annotator        0
comment          0
created_at       0
id               0
lead_time        0
rating           0
taxonomy         0
updated_at       0
dtype: int64

In [29]:
df.head()

,annotation_id,annotator,comment,created_at,id,lead_time,rating,taxonomy,updated_at
0,2374,1,спасибо,2025-05-17T09:23:28.536565Z,2945792,18.878,5,"[{""taxonomy"":[[""Вопрос решен""],[""Понравилось в...",2025-05-17T09:23:28.536565Z
1,2375,1,спасибо!,2025-05-17T09:23:38.456762Z,3234340,7.941,5,"[{""taxonomy"":[[""Вопрос решен""],[""Понравилось в...",2025-05-17T09:23:38.456762Z
2,2376,1,Отлично,2025-05-17T09:24:11.486229Z,3380332,31.554,5,"[{""taxonomy"":[[""Вопрос решен""],[""Понравилось в...",2025-05-17T09:24:11.486229Z
3,2377,1,Благодарю за оперативное решение проблемы !,2025-05-17T09:24:29.076846Z,3381812,15.591,5,"[{""taxonomy"":[[""Вопрос решен""],[""Понравилось в...",2025-05-17T09:24:29.076846Z
4,2378,1,Прекрасный специалист! Побольше таких,2025-05-17T09:24:42.946396Z,3461991,12.202,5,"[{""taxonomy"":[[""Нравится качество работы сотру...",2025-05-17T09:24:42.946396Z

In [30]:
df.drop(columns=['created_at', 'annotation_id', 'updated_at', 'id', 'annotator', 'lead_time', 'rating'], inplace=True)

In [31]:
df.head()

,comment,taxonomy
0,спасибо,"[{""taxonomy"":[[""Вопрос решен""],[""Понравилось в..."
1,спасибо!,"[{""taxonomy"":[[""Вопрос решен""],[""Понравилось в..."
2,Отлично,"[{""taxonomy"":[[""Вопрос решен""],[""Понравилось в..."
3,Благодарю за оперативное решение проблемы !,"[{""taxonomy"":[[""Вопрос решен""],[""Понравилось в..."
4,Прекрасный специалист! Побольше таких,"[{""taxonomy"":[[""Нравится качество работы сотру..."

In [32]:
df['taxonomy'] = df['taxonomy'].apply(clean_taxonomy)

In [33]:
df.head()

,comment,taxonomy
0,спасибо,"[Вопрос решен, Понравилось выполнение заявки]"
1,спасибо!,"[Вопрос решен, Понравилось выполнение заявки]"
2,Отлично,"[Вопрос решен, Понравилось выполнение заявки]"
3,Благодарю за оперативное решение проблемы !,"[Вопрос решен, Понравилось выполнение заявки, ..."
4,Прекрасный специалист! Побольше таких,[Нравится качество работы сотрудников]

In [34]:
df.drop_duplicates(subset='comment', keep='last')

,comment,taxonomy
66,"Большое спасибо Александру,за оперативность и ...","[Вопрос решен, Понравилось выполнение заявки, ..."
67,благодарю,"[Вопрос решен, Понравилось выполнение заявки]"
68,оперативно и качественно. спасибо,"[Нравится скорость отработки заявок, Вопрос ре..."
70,"благодарю, всего доброго!","[Вопрос решен, Понравилось выполнение заявки]"
75,К мастеру вопросов нет.,[Нравится качество работы сотрудников]
...,...,...
2361,"долго, но приятно","[Вопрос решен, Жалобы и вопросы]"
2362,16.03.2024 г ребята установили кондиционер. ра...,"[Вопрос решен, Понравилось выполнение заявки, ..."
2363,два дня мусоропровод. сегодня с утра тоже,"[Вопрос не решен, Жалобы и вопросы]"
2364,отрегулировать дверь замки . для должного откр...,"[Вопрос не решен, Жалобы и вопросы]"
2365,всё сделано хорошо,"[Вопрос решен, Понравилось выполнение заявки]"

In [35]:
df.shape

(2365, 2)

In [36]:
df.to_csv('clean.csv', index=False)

In [37]:
# Если taxonomy сохранена как строка, конвертируем в список
if isinstance(df['taxonomy'].iloc[0], str):
    df['taxonomy'] = df['taxonomy'].apply(ast.literal_eval)

# Создаем бинарные колонки для каждой категории
for category in cols:
    df[category] = df['taxonomy'].apply(lambda x: int(category in x))

# Удаляем исходную колонку taxonomy (если нужно)
df.drop('taxonomy', axis=1, inplace=True)

In [38]:
df.head()

,comment,Нравится скорость отработки заявок,Нравится качество выполнения заявки,Нравится качество работы сотрудников,Понравилось выполнение заявки,Вопрос решен,Жалобы и вопросы,Вопрос не решен
0,спасибо,0,0,0,1,1,0,0
1,спасибо!,0,0,0,1,1,0,0
2,Отлично,0,0,0,1,1,0,0
3,Благодарю за оперативное решение проблемы !,1,0,0,1,1,0,0
4,Прекрасный специалист! Побольше таких,0,0,1,0,0,0,0

In [39]:
# Создание новой колонки
df['cleaned_comment'] = df['comment'].apply(process_comment)

In [40]:
df.head()

,comment,Нравится скорость отработки заявок,Нравится качество выполнения заявки,Нравится качество работы сотрудников,Понравилось выполнение заявки,Вопрос решен,Жалобы и вопросы,Вопрос не решен,cleaned_comment
0,спасибо,0,0,0,1,1,0,0,спасибо
1,спасибо!,0,0,0,1,1,0,0,спасибо
2,Отлично,0,0,0,1,1,0,0,отлично
3,Благодарю за оперативное решение проблемы !,1,0,0,1,1,0,0,благодарю оперативное решение проблемы
4,Прекрасный специалист! Побольше таких,0,0,1,0,0,0,0,прекрасный специалист побольше таких